<link href="~/Content/CSS/html5imageupload.css" rel="stylesheet" />
@model RayaWSoffara.Models.UserArticleVM

@{
    ViewBag.Title = "إكتب مقالك";
}

<div class="clear-fix"></div>
<form enctype="multipart/form-data" method="post" id="article_form">
    @if (@ViewBag.ErrorMsg == 1)
    {
        <div class="ErrorMsg">من فضلك تأكد من إدخال كل البيانات المطلوبة.</div>
    }
    <div class="container full_width" id="createArticle_container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <input type="hidden" name="article_picture_path" id="article_picture_path_0" />
                <input type="hidden" name="video_url" id="video_url_0" value="" />
                <div class="input-group full_width input_margin">
                    <div class="media dark_border" id="media_0">
                        <button type="button" class="btn btn-primary btn-sm edit-image-btn hidden" data-toggle="modal" data-target="#image_edit">
                            تعديل
                        </button>
                        <img class="media_img" src="" />
                        <section class="image-upload-drop-target media_dropbox">
                            <button type="button" class="btn btn-primary btn-lg" id="pictureModal_toggle_btn" data-toggle="modal" data-target="#image_edit">
                                أضف صورة أو فيديو
                            </button>
                        </section>
                    </div>
                </div>
                <div class="input-group full_width input_margin">
                    @Html.TextAreaFor(m => m.newArticle.Content, new{ @class="full_width", placeholder = "أضف تعليقك"})
                </div>

                <div class="input-group full_width input_margin">
                    <div>
                        <input name="mySelect" type="hidden" id="tagsCount" />
                        <ul id="articleTags"></ul>
                    </div>
                </div>
                <div class="g-recaptcha" data-sitekey="6LdhiRQTAAAAAGKaboWCwIsqgpDFEQH4ov3WCYBI"></div>
                <div id="submit-btn">
                    <input type="submit" value="نشر المقال" id="btn_add_article" class="buttons full_width" />
                </div>
            </div>
        </div>

        <div class="modal fade" id="image_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">ضبط الصورة</h4>
                    </div>
                    <div class="modal-body" id="edit_modal_body">
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#uploadimage" data-toggle="tab">أضف صورة</a></li>
                            <li><a href="#uploadvideo" data-toggle="tab">يوتيوب فيديو</a></li>
                            <li><a href="#chooseimage" data-toggle="tab">إختر صورة</a></li>
                        </ul>
                        <div id="my-tab-content" class="tab-content">
                            <div class="tab-pane active" id="uploadimage">
                                <div class="dropzone image-dropzone full_width" data-ajax="false" data-url="/Article/TestCrop" data-save="false" data-resize="true" data-canvas="true" data-width="866" data-height="398" style="width: 100%;">
                                    <input type="file" name="thumb" />
                                </div>
                                <input id="uploadimagefilename" type="hidden" />
                                <button class="addImage btn btn-primary" disabled>أضف</button>
                            </div>
                            <div class="tab-pane" id="uploadvideo">
                                <textarea id="embedded_video_link" class="full_width" placeholder="رجاءً ضع الرابط هنا"></textarea>
                                <div id="modal_video_viewport">
                                </div>
                                <button type="button" class="btn btn-primary buttons" id="embed_confirm">إدخال</button>
                                <button type="button" class="btn btn-default" id="embed_cancel">إلغاء</button>
                            </div>
                            <div class="tab-pane" id="chooseimage">
                                <div id="img_container">
                                    <div class="container full_width"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<input type="hidden" id="media_id" value="" />
                        <button type="button" class="btn btn-primary buttons" id="hl-crop-image">قص الصورة</button>
                        <button type="button" class="btn btn-default" id="crop_cancel">إلغاء</button>*@
                    </div>
                </div>
            </div>
        </div>
        <input name="article_img" id="article_img" value="" type="hidden" />
    </div>
</form>

<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/Scripts/ckeditor/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.js&#8221;" type="text/javascript"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/Content/Scripts/html5imageupload.min.js"></script>
<script src="~/Content/Scripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(".addImage").click(function () {
        $('#image_edit').modal('hide');
        $(".media_dropbox").addClass("hidden");
        $(".media_img").attr("src", $("#uploadimagefilename").val());
        $("#article_picture_path_0").attr("src", $("#uploadimagefilename").val());
        $(".edit-image-btn").removeClass("hidden");
        var originalimage = $(".dropzone > img").attr("src");
        $("#originalimage").val(originalimage);
        return false;
    });

    $(document).ready(function () {
        $('.dropzone').html5imageupload({
            onSave: function (data) {
                $.ajax({
                    type: 'POST',
                    data: { data: data.data, left: data.left, top: data.top, imageWidth: data.imageWidth, imageHeight: data.imageHeight, imageOriginalWidth: data.imageOriginalWidth, imageOriginalHeight: data.imageOriginalHeight },
                    url: '/Article/TestCrop',
                    beforeSend: function () {
                        $(".loading").removeClass("hidden");
                    },
                    success: function (data) {
                        $(".loading").addClass("hidden");
                        $("#uploadimagefilename").val("/Temp/" + data);
                        $(".addImage").removeAttr("disabled");
                    },
                    error: function () {
                        $(".loading").addClass("hidden");
                    }
                });
            }
        });

        //$('#image_edit').on('hidden.bs.modal', function () {
        //    $("#edit_modal_body").html('<button type="button" id="crop_btn" class="btn btn-default">قص الصورة</button>');
        //});

        //$('#video_embed').on('hidden.bs.modal', function () {
        //    $("#video_modal_body").html('<textarea id="embedded_video_link" class="full_width" placeholder="رجاءً ضع الرابط هنا"></textarea><div id="modal_video_viewport"></div>');
        //});

        $.ajax({
            type: 'GET',
            url: '/Article/GetImages',
            beforeSend: function () {
                $('#myModal').modal({
                    show: true,
                    backdrop: 'static',
                    keyboard: false
                })
            },
            success: function (data) {
                for (i = 0; i < data.Images.length ; i += 2) {
                    var html = '<div class="row">';
                    html += '<div class="col-md-6 col-xs-12 image-choice"><img onclick="editImage(this)" src="' + data.Images[i] + '?w=300&h=200&mode=crop" /></div>';
                    if (data.Images.length == (i + 1)) {
                        html += '</div>';
                    } else {
                        html += '<div class="col-md-6 hidden-xs hidden-sm image-choice"><img onclick="editImage(this)" src="' + data.Images[i + 1] + '?w=300&h=200&mode=crop" /></div>';
                        html += '</div>';
                        html += '<div class="vertical_space"></div>';

                        html += '<div class="row hidden-md hidden-lg">';
                        html += '<div class="col-xs-12 hidden-md hidden-lg image-choice"><img onclick="editImage(this)" src="' + data.Images[i + 1] + '?w=300&h=200&mode=crop" /></div>';
                        html += '</div>';
                        html += '<div class="vertical_space"></div>';
                    }

                    $('#img_container > div').append(html);
                }

            },
            error: function () {
                $('#myModal').modal('hide');
            }
        });
    });

    function editImage(e) {
        var src = $(e).attr("src");
        src = src.split("?")[0];
        $(".media_dropbox").addClass("hidden");
        $(".media_img").attr("src", src);
        $("#article_picture_path_0").attr("src", src);
        $('#image_edit').modal('hide');
        $(".edit-image-btn").removeClass("hidden");
        return false;
    }

    $("#btn_add_article").click(function () {
        src = $("#media_0 .media_img").attr("src");
        if ($("#video_url_0").attr("value") == "") {
            $("#article_picture_path_0").attr("value", src);
        }

        var tags_qs = "";
        $('#articleTags').children('li').each(function (index) {
            var tagname = $(this).children('span').text();
            $("#submit-btn").append("<input name='SelectedTags[" + index + "]' value='" + tagname + "' type='hidden' />");
        });
        
    });

    $.validator.addMethod("needsSelection", function (value, element) {
        return $(element).multiselect("getChecked").length > 0;
    });

    $.validator.addMethod("ImageOrVideo", function (value, element) {
        img_src = $("#media_0 .media_img").attr("src");
        vid_src = $("#video_url_0").attr("value");
        return ((img_src != "") || (vid_src != ""));
    });

    $.validator.addMethod("RequiredTag", function (value, element) {
        tags_count = $("#articleTags").children("li").length;
        return (tags_count > 1);
    });

    $("#article_form").validate({
        ignore: [],
        rules: {
            "newArticle.Content": "required",
            mySelect: { RequiredTag: true }
        },
        messages: {
            "newArticle.Content": "يجب إدخال رأيك.",
            mySelect: "يجب إدخال كلمة بحثية."
        },
        errorPlacement: function (error, element) {
            if (element.attr("name") == "mySelect") {
                error.insertAfter("#articleTags");
            } else {
                error.insertAfter(element);
            }
        }
    });

    // START OF TAGIT FUNCTIONS//
    var availableTags = [];
    var availableTagsID = [];

    $('#articleTags').tagit({
        tagSource: function (search, showChoices) {
            if (search.term.length > 2) {
                $.ajax({
                    async: false,
                    type: "POST",
                    data: { Term: search.term },
                    url: "/Home/GetTags",
                    success: function (Tags) {
                        availableTags = [];
                        availableTagsID = [];
                        $('.header_div_2 .keywords').children('p').each(function () {
                            availableTags.push();
                        });
                        for (i = 0; i < Tags.length; i++) {
                            availableTags.push(Tags[i].TagName);
                            availableTagsID.push(Tags[i].TagID);
                        }
                        showChoices(availableTags);
                    }
                })
            }
        },
        select: true,
        sortable: true,
        allowNewTags: false,
        triggerKeys: ['enter', 'tab'],
        beforeTagAdded: function (event, ui) {
            if ($.inArray(ui.tagLabel, availableTags) == -1) {
                return false;
            }
        }
    });

    $("#articleTags input").attr("placeholder", "+ أضف كلمة بحثية");
    // END OF TAGIT FUNCTIONS //

</script>