@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

<form id="addForm" class="form-horizontal" action="/Admin/AddUser" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-btns">
                <a href="" class="panel-close">&times;</a>
                <a href="" class="minimize">&minus;</a>
            </div>
            <h4 class="panel-title">Add User</h4>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-8">
                    <input type="text" name="UserName" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-8">
                    <input type="email" name="Email" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-8">
                    <input type="password" id="password" name="Password" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password:</label>
                <div class="col-sm-8">
                    <input type="password" name="ConfirmPassword" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Role:</label>
                <div class="col-sm-8">
                    <select name="roleName"  class="form-control">
                        @foreach (var item in @ViewBag.Roles)
                        {
                            <option value="@item.RoleName">@item.RoleName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <!-- panel-body -->
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Add User</button>
        </div>
        <!-- panel-footer -->
    </div>
    <!-- panel-default -->
</form>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    jQuery.validator.addMethod("passwordMatch", function (value, element) {
        var password = $("#password").val();
        return (password == value);
    }, "Passwords do not match.");

    $("#addForm").validate({
        rules: {
            UserName: "required",
            Email: { required: true, email: true },
            Password: "required",
            ConfirmPassword: {
                required: true,
                passwordMatch: true,
            }
        }
    });
</script>