@{
    ViewBag.Title = "Point Types";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/CSS/jquery.datatables.css" rel="stylesheet" />
<link href="~/Content/CSS/jquery.tagsinput.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
        </div>
        @*<div class="add-user-btn pull-right">
            <a class="btn btn-primary" href="javascript:void(0)" id="addEng">Add Engagement Type</a>
        </div>*@
        <h4 class="panel-title">Point Types</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="example" class="table table-primary">
                <thead>
                    <tr style="text-align: left;">
                        <th>Id</th>
                        <th>Point Type</th>
                        <th>Point Weight</th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@*<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>*@
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Scripts/jquery.tagsinput.min.js"></script>
<script type="text/javascript">

    var dt = $('#example').DataTable({
        "processing": true,
        "serverSide": true,
        "info": true,
        "stateSave": true,
        "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
        "ajax": {
            "url": "/Admin/AjaxGetPointTypes",
            "type": "GET"
        },
        "columns": [
            {
                "orderable": true,
                "data": "DT_RowId",
                "className": "point-type-id"
            },
            {
                "orderable": false,
                "data": "ItemName"
                //"className": "engagement-type"
            }, 
            {
                "orderable": false,
                "data": "articlesCount",
                "className": "point-type-weight"
            },
            {
                "orderable": false,
                "data": "Actions",
                "className": "table-action"
            },
            {
                "orderable": false,
                "data": "Status"
            }
        ],
        "order": [[0, "asc"]]
    });

    function Edit(e) {
        //var point_type_id = $(e).parent().parent().attr("id");
        //var text = $(e).parent().parent().children(".engagement-type").text();
        var weight = $(e).parent().parent().children(".point-type-weight").text();
        //$(e).parent().parent().children(".engagement-id").text("").append("<input class='engagement-id-edit' type='text' value='' />");
        //$(e).parent().parent().children(".engagement-type").text("").append("<input class='engagement-type-edit' type='text' value='' />");
        //$(e).parent().parent().children(".engagement-id").children(".engagement-id-edit").val(eng_id);
        //$(e).parent().parent().children(".engagement-type").children(".engagement-type-edit").val(text);
        $(e).parent().parent().children(".point-type-weight").text("").append("<input class='point-type-weight-edit' type='number' value=" + weight + " />");
    }

    function Save(e) {
        var point_type_id = $(e).parent().parent().attr("id");
        //var eng_type = $("#" + eng_id + " .engagement-type-edit").val();
        var point_type_weight = $("#" + point_type_id + " .point-type-weight-edit").val();
        //var new_id = $("#" + eng_id + " .engagement-id-edit").val();
        $.ajax({
            type: 'POST',
            url: '/Admin/EditPointType',
            data: { PointTypeId: point_type_id, PointTypeWeight: point_type_weight },
            success: function (data) {
                //$("#" + eng_id + " .engagement-type").text(data[0].Value);
                $("#" + point_type_id + " .point-type-weight").text(data[0].Value);
                //$("#" + eng_id + " .engagement-id").text(data[2].Value);
                //$("#" + eng_id).attr("id", data[2].Value);
            },
            error: function(error){ alert(JSON.stringify(error));}
        });
    };

    function Delete(e) {
        var point_type_id = $(e).parent().parent().attr("id");
        var r = confirm("Are you sure you want to delete this point type?");
        if (r == true) {
            $.ajax({
                type: "POST",
                data: { PointTypeId: point_type_id },
                url: "/Admin/DeletePointType",
                success: function (data) {
                    $(e).parent().parent().hide(1000);
                }
            });
        }
    }
</script>
