<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <resizer>
    <pipeline fakeExtensions=".ashx" />
    <plugins>
      <add name="MvcRoutingShim" />
    </plugins>
  </resizer>
  <connectionStrings>
    <!--<add name="RayawsoffaraEntities" connectionString="metadata=res://*/Models.RWSModel.csdl|res://*/Models.RWSModel.ssdl|res://*/Models.RWSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=odh-pc\sara;initial catalog=rayawsoffara;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RayawsoffaraEntities" connectionString="metadata=res://*/Models.RayaWSoffaraModel.csdl|res://*/Models.RayaWSoffaraModel.ssdl|res://*/Models.RayaWSoffaraModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=odh-pc\sara;initial catalog=rayawsoffara;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RayawsoffaraEntities" connectionString="metadata=res://*/Models.RayaWSoffaraModel.csdl|res://*/Models.RayaWSoffaraModel.ssdl|res://*/Models.RayaWSoffaraModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=plumeria.arvixe.com;initial catalog=rayawsoffara;persist security info=True;user id=rayaadmin;password=pass123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RWS_DevelopmentEntities" connectionString="metadata=res://*/Context.RWS_DevelopmentEntities.csdl|res://*/Context.RWS_DevelopmentEntities.ssdl|res://*/Context.RWS_DevelopmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=plumeria.arvixe.com;initial catalog=RWS_Development;persist security info=True;user id=marvot;password=pass123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RWS_DevelopmentEntities" connectionString="metadata=res://*/Context.RayaWSoffaraEntities.csdl|res://*/Context.RayaWSoffaraEntities.ssdl|res://*/Context.RayaWSoffaraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mostafa-pc;initial catalog=RWS_Development;integrated security=True;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--newly generated<add name="RWS_DevelopmentEntities" connectionString="metadata=res://*/Context.RWS_DevelopmentEntities.csdl|res://*/Context.RWS_DevelopmentEntities.ssdl|res://*/Context.RWS_DevelopmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=plumeria.arvixe.com;initial catalog=RWS_Development;persist security info=True;user id=marvot;password=pass123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RWS_DevelopmentEntities" connectionString="metadata=res://*/Context.RWS_DevelopmentEntities.csdl|res://*/Context.RWS_DevelopmentEntities.ssdl|res://*/Context.RWS_DevelopmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=plumeria.arvixe.com;initial catalog=RWS_Development;persist security info=True;user id=marvot;password=pass123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RWS_DevelopmentEntities" connectionString="metadata=res://*/Context.RWS_DevelopmentEntities.csdl|res://*/Context.RWS_DevelopmentEntities.ssdl|res://*/Context.RWS_DevelopmentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=plumeria.arvixe.com;initial catalog=RWS_Development;user id=marvot;password=pass123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
</configuration>