<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.AspNet" version="4.1.4.12333" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.1.4.12333" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.1.4.12333" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.1.4.12333" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.1.4.12333" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.1.4.12333" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="ImageResizer" version="3.4.3" targetFramework="net40" />
  <package id="ImageResizer.FluentExtensions" version="1.0.0.4" targetFramework="net40" />
  <package id="ImageResizer.FluentExtensions.Mvc" version="1.0.0.4" targetFramework="net40" />
  <package id="ImageResizer.Mvc" version="3.4.3" targetFramework="net40" />
  <package id="ImageResizer.MvcWebConfig" version="3.4.3" targetFramework="net40" />
  <package id="ImageResizer.Plugins.DiskCache" version="3.4.3" targetFramework="net40" />
  <package id="ImageResizer.Plugins.PrettyGifs" version="3.4.3" targetFramework="net40" />
  <package id="ImageResizer.Plugins.SimpleFilters" version="3.4.3" targetFramework="net40" />
  <package id="ImageResizer.WebConfig" version="3.4.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" requireReinstallation="True" />
</packages>